$primary-color: #240115;
$secondary-color: #cbc2cd;

$title-font:"Noto Sans", "sans serif";
$body-font: "Antic Slab", serif;


*{
    margin: 0;
    padding: 0;

}

body {
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $body-font;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


a {
    color:inherit;
    text-decoration: none;
}


nav {
    display:flex;
    background-color: $secondary-color;
    height: 3rem;

    ul {
        list-style: none;
    }

    .navbar-list, .logo {
        display: flex;
        width: 100%;
    }

    .navbar-item :hover {
        color:white;
    }

    .navbar-list{
        justify-content: right;
    }

    .navbar-item {
        margin: 0.4rem 5rem;
        font-size: 25px;
        color:black;
    }
}

nav, footer {
    color:black;
}

footer {
    text-align: center;
    margin-top:auto;
    background-color: $secondary-color;
}

.title, .logo {
    font-size: 40px;
    font-family: $title-font;
    font-weight: 400;
}

.search-container {
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.search-label {
    margin: 0.25rem;
}

.search-input {
    margin: 0.25rem;
    width: 10rem;
}


.search-button {
    width: 3rem;
    height: 1.4rem;
    margin : 0.25rem;
}

.flex-grid {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.flex-grid-item {
    width: 20%;
    margin: 0.5rem;
}

.image-copy {
 cursor:pointer;
}

.info-text {
    text-align: center;
    font-size: 1.2rem;
    margin:2rem
}

.contact-container {
    text-align: center;
}

.contact-info {
    display:flex;
    justify-content: center;
}

.contact-link {
    margin: 1.5rem 5%;
}

.giphylogo {
    width: 12%;
    float: right;
}

@media screen and (max-width:320px) {
        nav {
            display:flex;
            flex-direction: column;
            background-color: $secondary-color;
            height: 100%;
        
            ul {
                list-style: none;
            }
        
            .navbar-list, .logo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
        
            .navbar-item :hover {
                color:white;
            }
        
            .navbar-item {
                margin: 0.4rem 5rem;
                font-size: 25px;
                color:black;
                text-align: center;
            }
        }

        .search-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .contact-info {
        display:flex;
        justify-content: center;
        flex-direction: column;
    }

    .giphylogo {
        width: 70%;
        float:inherit;
    }

    .flex-grid {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }
    
    .flex-grid-item {
        width: 100%;
        margin: 0.5rem;
    }

}